html,
body {
  background-color: #cd4144 !important;
  padding: 0 !important;
}

.top {
  height: 200px;
  background: #fff url(./assets/bk.png) 0 0 no-repeat;
  background-size: auto 200px;
  position: relative;
}

.top .address {
  position: absolute;
  right: 30px;
  width: 30%;
  margin: 0;
  line-height: 200px;
  color: #cd4144;
  font-weight: bold;
  font-style: italic;
}

#gradient {
  background: -webkit-linear-gradient(#fff, #cd4144);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#fff, #cd4144);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#fff, #cd4144);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#fff, #cd4144);
  /* 标准的语法 */
}

.layout {
  padding: 30px;
  padding-top: 60px;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  height: 100%;
}

.ant-layout {
  background-color: transparent !important;
}

.container {
  background-color: transparent !important;
  color: #fff !important;
}

.App-sider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.ant-layout-sider-children {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.App-sider var {
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
}

.info-list {
  width: 100%;
  padding: 0 16px;
  padding-top: 20px;
}

.info-list li {
  width: 100%;
  border-bottom: 4px solid #c37f42;
  font-size: 22px;
}

.App-sider .send-img:hover p {
  color: #cd4144;
}

.App-sider .send-img:hover {
  box-shadow: 0 4px 12px 0 rgba(205, 65, 68, .5);
}

.App-sider .send-img {
  background: url('assets/send.jpg') center center/cover no-repeat;
  width: 240px;
  height: 138px;
  border-radius: 20px;
  cursor: pointer;
}

.App-sider .send-img p {
  font-size: 24px;
  font-weight: bold;
  color: #c37f42;
  margin-left: 8px;
  margin-top: 2px;
}

.App-content {
  background-color: #fff !important;
  min-height: 400px !important;
}

.p-list {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}

.p-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 160px;
  cursor: pointer;
  text-overflow: hidden;
  flex-shrink: 0;
}

.p-list .text {
  color: #cd4144;
  font-weight: bold;
  text-align: center;
  margin: 0;
  max-width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.p-list .text.tip {
  color: #ebca95;
}

.p-list .p-img {
  background: url(./assets/p.png) 0 0/contain no-repeat;
  width: 80px;
  height: 90px;
}

.p-list .p-img.checked {
  background-image: url(./assets/p2.png);
}

.App-footer {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0!important;
  box-shadow: none!important;
}
.App-footer p {
  margin: 0;
}

.border-box {
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 rgba(255, 255, 255, .2);
}

.ant-layout-sider {
  background-color: #fff !important;
  color: #cd4144 !important;
}

.detail-modal,
.send-modal {
  width: 400px;
}

.detail-modal .ant-modal-body,
.send-modal .ant-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #cd4144 !important;
  border-radius: 8px;
}

.detail-modal .ant-modal-body {
  height: auto;
  min-height: 500px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff !important;
}

.detail-modal.red .ant-modal-body {
  background-color: #cd4144 !important;
}

.detail-modal .ant-modal-body .top2 {
  background-color: #cd4144;
  padding-top: 24px;
  padding-bottom: 4px;
  border-radius: 8px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.detail-modal .ant-modal-body {
  justify-content: flex-start;
}

.detail-modal .text {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}

.detail-modal .text.time {
  font-size: 16px;
}

.detail-modal .text.left {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 0;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.detail-modal .text.left var {
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
}

.detail-modal .record-list {
  width: 520px;
  margin-top: 10px;
  margin-bottom: 0;
  /* border-top: 3px solid #c37f42; */
}

.detail-modal .record-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 16px;
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.detail-modal .record-list li:last-of-type {
  border: 0;
}

.detail-modal .record-list li p {
  margin: 0;
}

.detail-modal .record-list li .addr {
  font-weight: bold;
  font-size: 16px;
  width: 80%;
  color: #666;
}

.detail-modal .record-list li .left {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.detail-modal .record-list li .time {
  margin-top: 4px;
  color: #666;
}

.detail-modal .record-list li .value {
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

.mid-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.command-input {
  margin-bottom: 20px !important;
}

.send-btn {
  width: 320px;
  line-height: 50px;
  border-radius: 8px;
  font-size: 26px;
  text-align: center;
  color: #504436;
  background-color: #ebca95;
  cursor: pointer;
}

.send-btn:first-child {
  margin-bottom: 40px;
}

.ant-modal-content {
  background-color: transparent !important;
}

.step2-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step2-box>* {
  width: 320px !important;
  margin-bottom: 20px !important;
}

.ant-input,
.ant-input-number,
.ant-input-number-input-wrap,
.ant-input-number-input {
  font-size: 20px !important;
  line-height: 40px;
  height: 40px !important;
}

.ant-input:hover,
.ant-input-number:hover {
  border-color: #cd4144 !important;
}

.ant-input-number:focus {
  border-color: #cd4144 !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.ant-input-number-focused {
  border-color: #cd4144 !important;
}

::selection {
  background: #cd4144 !important;
}

.switch-box {
  display: flex;
  align-items: center;
}

.switch-box .ant-switch-checked {
  background-color: #ebca95;
}

.switch-text {
  margin-left: 10px;
  color: #ebca95;
  font-weight: bold;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  background: url(./assets/logo.png) 0 center/contain no-repeat;
  width: 430px;
  height: 120px;
  line-height: 120px;
  text-indent: 110px;
  font-size: 50px;
  color: #222426;
  font-style: italic;
  font-weight: bold;
}